:root {
  --line-color: rgb(189, 172, 154);
  --bg-color: rgb(75, 70, 65);
  --panel-color: rgba(188, 169, 151, 0.18);
  --main-color: rgb(158, 141, 125);
  --text-color-inverted: rgb(48, 35, 28);
  --highlight-color: rgb(148, 167, 101);
}

@media (max-aspect-ratio: 9/19) {
  body {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 0fr 2fr 0fr;
    font-size: 1.5em;
    row-gap: 2em;
  }
  #nav {
    align-self: flex-end;
  }
  #footer {
    align-self: flex-start;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  padding: 1em;
  margin: 0;
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  row-gap: 1em;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  align-items: center;
  justify-content: center;
}

main {
  grid-area: main;
  display: flex;
  justify-content: center;
}

a {
  color: var(--main-color);
  text-decoration:  underline solid var(--highlight-color);
}

a:visited {
  color: inherit;
}

a:hover {
  color: var(--highlight-color);
}

hr {
  border: none;
  border-top: 1px solid var(--line-color);
}

h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 0.25em;
  padding: 0;
  /* display: block; */
}

/* Utils */

.faded {
  opacity: 0.3
}

.hidden {
  display: none !important;
}

.title {
  text-transform: uppercase;
}

.title:first-letter {
  font-size: 1.5em;
}

.panel {
  background-color: var(--panel-color);
  padding: 1em;
}

/* Elements */

#contact {
  cursor: pointer;
}

#nav {
  grid-area: header;
  display: flex;
  column-gap: 1em;
  /* flex: 1; */
  justify-content: space-evenly;
}

#nav a {
  text-decoration: none;
}

#contact {
  cursor: pointer;
}

#footer {
  grid-area: footer;
  /* text-align: center; */
  justify-self: center;
}